a {
	border-bottom: 1px dotted;
	color: #000099; text-decoration: none;
}
a:hover {
	border: none;
	color: #da251d;
}
body {
	margin: 0px;
	font-size: 13px;
	font-family: verdana;
}
dt {
	font-weight: bold;
}
h1, h2 {
	font-size: 17px; text-align: center;
}
h2 {
	padding-top: 10px;
	border-top: 3px double;
}
h3, h4, h5, h6 {
	margin: 15px 0px;
	font-size: 15px;
}
h4 {
	border-bottom: 1px dashed;
}
h5 {
	padding-top: 10px;
	border-top: 1px dashed;
}
iframe {
	width: 100%; height: 60px;
	border: none;
}
input {
	margin: 3px;
}
li {
	margin-top: 5px;
}
noscript div {
	z-index: 1;
	position: fixed;
	left: 50%; top: 30%;
	width: 300px;
	margin-left: -150px; padding: 10px;
	background: #fff6f6; border: 1px solid #ff0000; border-radius: 5px;
}
	noscript div h6 {
		margin: 0px 5px 5px 0px;
		border-bottom: 1px dashed #ff0000;
		color: #ff0000;
	}
table {
	margin: 13px 0px;
	border-collapse: collapse;
}
	table td, th {
		padding: 3px;
		background: #f0f5ff; border: 1px solid #000099;
	}
	table th {
		background: #d0e0ff;
	}
ul {
	list-style-type: disc;
}
#content {
	padding: 5px;
}
	#content div.menu {
		margin-left: -5px; padding: 5px;
		background: #e9f1ff; border: 1px solid #0000bb; border-left: none; border-radius: 0px 5px 5px 0px;
	}
#contentTask {
	display: none;
	margin-top: 40px; padding: 5px;
}
	#contentTask span.variants > span {
		display: none;
		border-bottom: 1px dotted #ff0000;
	}
#hint {
	position: fixed; top: 0px;
	margin-right: 5px; padding: 5px;
	background: #737373; border-radius: 0px 0px 5px;
	color: #ffffff;
}
	#hint div {
		padding-bottom: 3px;
		border-bottom: 1px dashed;
	}
	#hint span.active {
		font-weight: bold;
		color: #ffcccc;
	}
	#hint span.link {
		border-bottom: 1px dotted;
		cursor: pointer;
		color: #ddddff;
	}
	#hint span.link:hover {
		border: none;
		cursor: pointer;
		color: #ffcccc;
	}
#variantForm {
	position: absolute;
	left: 50%; top: 30%;
	width: 240px;
	margin-left: -120px; padding: 5px;
	background: #d0e0ff; border: 1px solid #b3b3b3; border-radius: 5px;
}
	#variantForm h6 {
		margin: 0px;
		border-bottom: 1px #b3b3b3 dashed;
		font-weight: bold;
	}
.attn,
	.attn a {
		color: #990000;
	}
	.attn a:hover {
		color: #da251d;
	}
.padLeft10 {
	padding-left: 10px;
}
.padLeft20 {
	padding-left: 20px;
}
.padLeft30 {
	padding-left: 30px;
}
